body{
    margin: 0px;
    padding: 0px;
    background-image: url(/src/app/img/background.jpeg);
    font-family: Arial, Helvetica, sans-serif;
    /* box-sizing: border-box; */
}
.card{
    width: 600px;
    border-radius: 6px;
    background: #fff;
    left: 29%;
    box-shadow: 0px 1px 10px 1px #000;
    display: inline-block; 
   

/* width: 600px;
    height: auto;
    padding-top: 60rems;
    position: absolute;
    overflow: hidden;
    */
}
.upper{
    height: 150px;
    background: 		#696969;
    margin-bottom: 35px;
}
.image{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    transform: translate(100px, 100px);
}
.image img{
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.lower{
    /* height: 280px; */
    background: white;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}
.lower h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
}
.lower h4{
    color: #7f00ff;
    opacity: .6;
    font-weight: bold;
}
.lower ul{
    font-size: 10px;
    color: black;
    margin-bottom: 30px;
    display: flex;
    align-content: center;
    justify-content: center;

}
.lower .btn{
    padding: 12px 20px;
    background: #7f00ff;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
}
.lower .btn:hover{
    background: transparent;
    color: #7f00ff;
    border: 2px solid #7f00ff
}
